<fieldset>
  <legend>Presentation information</legend>

  <p><%= form.label :title, "Title" %><br/>
  <%= form.text_field :title %></p>

  <p><%= form.label :body, "Description" %><br/>
  <%= form.text_area :body %></p>
</fieldset>