<% form_for(:attendance, :url => attendances_path(:url => url)) do |f| %>
  <% if !current_user %>
    <% fields_for(:user) do |u| %>
      <%= render :partial => 'users/form', :locals => {:form => u} %>
    <% end %>
  <% end %>

  <p><%= f.label :price_code, 'Price Code' %>
  <%= f.text_field :price_code %></p>

  <%= f.submit("Sign up") %>
<% end %>
